* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

.im{

 width: 200px;
 height: auto;
 border-radius: 8px;
 

}

.conatiner{
  /* display: flex;
  flex-wrap: wrap ;
  justify-content: center;
  margin-top: 20px; */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
 


}

.card-1{
  padding: 0 20px;
}

.card-1 p {
  margin-bottom: 12px;
  /* text-align: center; */
  font-size: 16px;
  font-weight: 600;
}